*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 5px;
}

.header{
    text-align: center;
    background-color: #bdc3c7;
    color:#4b5153 ;
    padding: 30px;
    margin: 0 15px;
}

.content::after {
    content: "";
    clear: both;
    display: block;
}

  /*áp dụng cho tất cả các phần tử mà có thuộc tính class bắt đầu bằng chuỗi "col-*/
[class*="col-"] {
    float: left;
    padding: 15px;
}

.menu ul li {
    background-color: #bdc3c7;
    border: 1px solid #bdc3c7 ;
    margin-bottom: 6px;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    list-style: none;
}
.menu ul li a{
    color: black;
}

.main{
    margin-top: 20px;
    line-height: 25px;
    font-size: 18px;
}

h2{
    padding-bottom: 10px;
}

.about{
    background-color: #bdc3c7;
    padding: 15px 15px 60px 15px;
    font-size: 18px;
    line-height: 25px;
}

.footer{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: #bdc3c7;
    margin: 0 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media screen and (max-width: 480px) {
    [class*="col-"] {   /*áp dụng cho tất cả các phần tử mà có thuộc tính class bắt đầu bằng chuỗi "col-*/
        width: 100%;
    }
}

