*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rotation{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 50% auto;
    border-top: 10px solid #27ae60 ;
    border-right: 10px solid #ff3f34;
    border-bottom: 10px solid #0fbcf9;
    border-left:  10px solid #e84393;
    animation-name: animation-rotation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation-rotation{
    from{
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}