*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.menu ul li{
    list-style: none;
    display: inline-block;
    border: 1px solid dfe4ea;
    padding: 20px 40px;
    margin: 20px;
    background-color: #dfe4ea;
    font-size: 24px;
    position: relative;
}

.menu ul li::after{
    width: 50%;
    height: 3px;
    position: absolute;
    /* background-color: black; */
    left: 0;
    bottom: 10px;
    content: '';
    transition-property: background-color, width;
    transition-duration: 5s;
    transition-delay: 1s;
}

.menu ul li:hover::after{
    background-color:#2f3542;
    width: 100%;
}