*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.item{
    padding: 20px;
    border: 1px solid royalblue;
    background-color: aquamarine;
}

.container{
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    'header header header'
    'nav_left content aside'
    /* 'footer footer footer' */
    'nav_left footer footer';
}

.item1{
    grid-area: header;
}
.item5{
    grid-area: footer;
}

.item2{
    grid-area: nav_left;
}